.pops-dropdown {
    input {
        display: none;
    }

    input:checked~ &__title {
        &:before {
            content: "-";
        }
    }

    &__title {
        background: white;
        border-bottom: 1px solid $grey--light;
        border-right: 1px solid $grey--light;
        color: $black;
        cursor: pointer;
        display: block;
        font-size: 18px;
        margin: 0;
        padding: $unit__m;
        text-transform: capitalize;
        z-index: 20;

        &:before {
            content: "+";
            display: inline-block;
            width: 22px;
            vertical-align: middle;
        }
    }

    &__inner {
        background: $grey--accent;
        height: 0;
        overflow: hidden;
    }

    input:checked~ &__inner {
        height: auto;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__list-item {
        border-bottom: 1px solid $grey--light;
        padding: $unit__s $unit__m;
    }

    &__list-link {
        color: $grey--dull;
        display: block;
        font-size: 14px;
        line-height: 32px;
        text-decoration: none;
        text-transform: capitalize;

        &:hover {
            text-decoration: underline;
        }
    }
}
