<header>
  <h2>{{ title }}</h2>
  <p>The above text comes from the context</p>
</header>

{#Include a partial and reference the contexts footer object#}
{% include "components::footer/footer.twig" with footer %}